@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --first-color: #f1f2f3;
    --second-color: #e9a900;
    /*#df7d0e*/
    --third-color:  #21232c;
    --fourth-color: #f7f2df;
/*    #2b2e3b*/
    --light-color: #9fa1ad;
    --padding: 8%;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
/*    color: var(--first-color);*/
    font-size: 16px; 
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
/*    #F9F8F4*/
/*    #EFEFE7*/
/*    #F9F8F4*/
    background-color: var(--fourth-color);
    height: 3.5em;
    align-items: center;
    padding: 2rem var(--padding);
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
    
}
ul{
    list-style-type: none;
    display: flex;
}
ul li{
    margin-left: 2rem;
    
}
ul li a{
    color: #21232c; 
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
ul li a:hover{
    color: var(--second-color);
}
span{
    color: var(--second-color);
}
.home{
    background-color: var(--third-color);
    color: var(--first-color);
    height: 100vh;
    padding: 0 var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 100%;
}
.image{
    width: 35%;
}
h1{
    font-size: 3.5rem;
    
}
h3{
    
    font-size: 1.5rem;
    
}
h4{
    font-size: 1.25rem;
}
.title2{
    margin: 1.7rem 0;
}
.title3{
    margin-bottom: 3rem;
}
.social{
    margin-top: 3rem;
}
.btn{
    background-color: var(--second-color);
    border-radius: 30px;
    padding: 12px 15px;
    text-decoration: none;
    color: var(--first-color);
    font-weight: 500;
    border: 2px solid transparent;
    transition: 0.4s;
    
}
.btn:hover{
    background-color:transparent;
    border: 2px solid var(--second-color);
}
.social a i{
    color: var(--light-color);
    font-size: 1.5rem;
    border: 1px solid var(--light-color);
    border-radius: 50%;
    padding: 8px;
    margin-right: 1rem;
    transition: 0.4s;
}
.social a i:hover{
    color: var(--second-color);
    border: 1px solid var(--second-color);
    transform: scale(1.2);
    
    
}
.about{
    color: var(--third-color);
    background-color: var(--first-color);
    padding: 2rem var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.about .image, .about .text{
    width: 35%;
    
    
}
p{
    letter-spacing: 1px;
    font-size: 1.3rem;
    line-height: 1.8rem;
}
h5{
    font-size: 1rem;
    margin: 0.5rem 0;
}
.services{
    background-color:var(--third-color);
    color: var(--first-color);
    padding: 2rem var(--padding);
}
.services h1{
    text-align: center;
}
.box{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    
}
.services .card{
    width: 250px;
    background-color: var(--fourth-color);
    color: var(--third-color);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
    
    text-align: center;
}
.services .card i{
    color: var(--second-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.services p{
    font-size: 1rem;
    font-style: italic;
}
.projects{
    color: var(--third-color);
    background-color: var(--first-color);
    padding: 2rem var(--padding);
    
}
.projects h1{
    margin-top: 10px;
    text-align: center
}
.projects .card{
/*    background-color: var(--third-color);*/
/*    color: var(--first-color);*/
    width: 300px;
    border-radius: 20px;
    padding: 1.3rem 2rem;
    margin: 15px  10px;
    border: 2px solid var(--third-color);
}
.projects img{
    border-radius: 5px;
    height: 130px;
    border-top: 2px solid var(--third-color);
    border-bottom: 2px solid var(--third-color);
}
.projects .card-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects .card-text i{
    color: var(--third-color);
    font-size: 19px;
    border: 2px solid var(--third-color);
    padding: 2px;
    border-radius: 50%;
    
}
.projects .card-text i:hover{
    color: var(--second-color);
     border: 2px solid var(--fourth-color);
    
}
.projects .card p{
    font-size: 19px;
}
footer{
    background-color:var(--third-color);
    color: var(--light-color); 
    padding: 1.5rem var(--padding);
    font-style: italic;
}
footer p{
    text-align: center;
    font-size: 15px;
}
.menu{
    display: none;
}







@media screen and (max-width:575px){
    :root{
        --padding: 1.5em;
    }
    ul{
        display: none;
    }
    .menu{
        display: flex;
        font-size: 1.3rem;
    }
    html{
        font-size: 12px;
    }
    .home .image{
        display: none;
    }
    .about{
        
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .about .text{
        width: 80%;
    }
    .box{
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 1rem;
    }
    .services .box .card{
        width: 400px;
    }
    .projects .box .card{
        width: 400px;
    }
    .projects .box .card i{
        font-size: 1.5rem;
    }
    
    

    
    
}


@media screen and (min-width:575px) and (max-width:991px){
    :root{
        --padding: 4.5em;
    }
    ul{
        display: none;
    }
    .menu{
        display: flex;
        font-size: 1.3rem;
    }
    html{
        font-size: 12px;
    }
    .home .image{
        display: none;
    }
    .about{
        
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .about .text{
        width: 80%;
    }
    .box{
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 1rem;
    }
    .services .box .card{
        width: 400px;
    }
    .projects .box .card{
        width: 400px;
    }
    .projects .box .card i{
        font-size: 1.5rem;
    }
    

}


@media screen and (min-width:990px) and (max-width:1279px){
    :root{
        --padding: 4.5em;
    }
    ul{
        display: none;
    }
    .menu{
        display: flex;
        font-size: 1.3rem;
    }
    html{
        font-size: 12px;
    }
/*
    .home .image{
        display: none;
    }
*/
    .about{
        
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .about .text{
        width: 80%;
    }
    .box{
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 1rem;
    }
    .services .box .card{
        width: 400px;
    }
    .projects .box .card{
        width: 400px;
    }
    .projects .box .card i{
        font-size: 1.5rem;
    }
    
    

    
    

}